body {
	font-family: sans-serif;
}
::-moz-selection {
	color: #fff;
	background-color: rgba(0,0,0,.7);
}
::selection {
	color: #fff;
	background-color: rgba(0,0,0,.7);
}
.pastearea {
	overflow: auto;

	max-width: 46vw;
	max-height: 78vh;
	margin-top: 7vh;
	margin-left: 21vw;
	padding: 1vh 2vw;

	border-radius: 3px;
	box-shadow: 0 0 3px rgba(0,0,0,.5);
}
.instrucciones {
	font-weight: 300;

	text-align: center;
}
.kbdshortcuts strong::-moz-selection,
.instructions img::-moz-selection {
	color: #444;
	background-color: transparent;
}
.kbdshortcuts strong::selection,
.instructions img::selection {
	color: #444;
	background-color: transparent;
}
.instrucciones strong {
	font-weight: 400;

	display: inline-block;

	padding: .2em .5em;

	border: 1px solid #cfd6c6;
	border-radius: 3px;
	background-color: #fbfbfc;
	box-shadow: 1px 1px 1px rgba(0,0,0,.25);
}
.instrucciones span.instructions {
	font-family: serif;
	font-size: .8em;
}
.instrucciones em {
	font-weight: 800;
}
.instructions .startinglogo {
	height: 1.7em;

	vertical-align: middle;
}
.instructions .startinglogo.loffice {
	height: 1.3em;

	vertical-align: text-bottom;
}
.pastearea.boton {
	margin-top: 10px;

	text-align: right;

	box-shadow: none;
}
.pastearea.boton button {
	cursor: pointer;
}
.pastearea input[name='nombre_de_archivo'] {
	width: calc(37.5vw - 8em);
	min-width: 8em;
	margin-right: 1vw;

	text-align: right;
}
.pastearea select[name='extension'] {
	width: 8em;
	margin-right: 2.5vw;
}
.by {
	font-size: .7em;
	font-weight: 300;

	position: fixed;
	right: 10px;
	bottom: 10px;

	text-align: right;
}
.by a {
	text-decoration: none;

	color: #333;
}
.by img {
	max-height: 15px;

	vertical-align: middle;
}
